<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.first.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.first.entity.User">
        <id column="id" property="id"/>
        <!--   column数据库字段名,   property映射实体字段  -->
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="area" property="area"/>
        <result column="age" property="age"/>
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from User
    </select>

    <select id="queryById" resultMap="BaseResultMap">
        select * from User where id = #{id}
    </select>

    <insert id="insert">
            insert into User values(#{id},#{name},#{phone},#{area},#{age});
        </insert>

    <update id="updateAge">
        update `user` set age = age+#{age} where id = #{id};
    </update>

    <update id="updatExtend">
        update `user` set extend = extend+#{extend} where id = #{id};
    </update>


</mapper>